<% content_for :body_content_left do %>
  <p class="crumblies"><%= link_to "Home", root_path %> &gt; <%= link_to "Contact", new_inquiry_path  %> &gt; People </p>
  <section id="profiles">
    <h3 id="profile_header">Directory</h3>
    <table>
    	<thead>
    	<tr>
    		<th class='last_name'>Last Name</th>
    		<th class='first_name'>First Name</th>
    		<th class='location'>Location</th>
    		<th class='phone'>Phone</th>
    		<th class='email'>Email</th>
    		<th class='affiliation'>Affiliation</th>
    		<% if current_user %>
    			<th> </th>
    		<% end -%>
    	</tr>
    	</thead>
    	<tbody>

        <% @profiles.each do |profile| %>
         	<tr id="<%= profile.name.gsub(" ",'') %>" class="<%= cycle('odd','even') %>">
    			<td class='last_name'>
    				<b><%= link_to profile.last_name, profile_path(profile) %></b>
    			</td>
    			<td class='first_name'>
    				<b><%= link_to profile.first_name, profile_path(profile) %></b>
    			</td>
    			<td class='location'>
    				<b> </b>
    			</td>
    			<td class='phone'>
    				<b><%= link_to phormat(profile.phone), profile_path(profile) %></b>
    			</td>
    			<td class='email'>
    			  <%=mail_to profile.email %><br />
    			</td>
    			<td class='affiliations'><%= truncate(profile.affiliations.first.title.to_s, :length => 40) if profile.affiliations.first%></td>
          </tr>
        <% end %>
        </tbody>
    </table>

    <%= will_paginate @profiles %>
  </section>
<% end %>

<%= render :partial => "/shared/content_page" %>